@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.contents {
    z-index: 100;
}

.contents h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-bottom: 3%;
}

.dtw-sfcc-logo-sec {
    text-align: center;
}

img.dtw-sfcc-logo {
    width: 35%;
    margin-bottom: 2%;
}

.area{
    background: linear-gradient(to bottom right, #008fa7 0%, #b1b1b1 100%);
    background: -webkit-linear-gradient(to bottom right, #008fa7 0%, #b1b1b1 100%);
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0!important;
    left: 0;
    background: #38c5ed00;
    overflow: hidden;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    width: 6400px;
    height: 47%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0%;
    overflow: hidden;
    top: unset;
}

.wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  bottom: -7%;
  top: unset;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.dtw-main-logo {
  width: 16%;
  max-width: 100%;
  z-index: 100;
  padding: 0.5% 0% 0% 1%;
  position: absolute;
}

.dtw-main-logo:hover {
  width: 17%;
} 

h1 {
  text-align: center;
}

#pageids-textarea {
  display: block;
  margin: 10px 10px 10px 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  font-size: 16px;
  border: solid 1px black;
  box-sizing: border-box;
}
#library-input {
  display: block;
  margin: 10px 0 20px;
  font-size: 16px;
}

#baseurl-input {
  display: block;
  margin: 10px 10px 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: solid 1px black;
  box-sizing: border-box;
}

#checkbox-input{
  margin: 10px 10px 10px 0;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6%;
  background: #ffffff61;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0);
  z-index: 100;
}

.loading-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
}

button {
  background-color: #3b94b0;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0588b1;
}

.loadingspinner {
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #000;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

.loading .loading-container {
  display: block;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #bef;
}
.success-msg {
  color: #270;
  background-color: #dff2bf;
}
.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}

iframe {
  display: none;
}

.neons {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #009db8;
    text-shadow: 0 0 10px #ffffff00, 0 0 20px #ffffff00, 0 0 30px #ffffff00, 0 0 40px #ffffff00, 0 0 50px #ffffff00, 0 0 60px #ffffff00, 0 0 70px #ffffff00, 0 0 90px #ffffff00;
  }
  
  to {
     color: #0594ad;
    text-shadow: 0 0 10px #01d3fa4f, 0 0 20px #01d3fa4f, 0 0 30px #01d3fa4f, 0 0 40px #01d3fa4f, 0 0 50px #01d3fa4f, 0 0 60px #01d3fa4f, 0 0 70px #01d3fa4f, 0 0 90px #01d3fa4f;
  }
}

@media screen and (max-width: 1024px) {
  .contents h1 {
    font-size: 34px;
  }
}

div#not-supported-section {
  display: none;
}

@media only screen and (max-device-width: 768px) {
  div#spprtd {
    display: none;
  }

  div#not-supported-section {
    display: block;
    z-index: 1000;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    left: 25%;
    width: 49%;
    text-align: center;
    transform: translateY(-50%);
    font-family: cursive;
    color: #fff;
    font-size: large;
  }
  
  div#not-supported-section img {
      width: 100%;
  }

}








